@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.nav {
    position: fixed;
    background: #d76576;
    width: 100%;
    padding: 10px 0;
    z-index: 10;
}

.menu {
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo a {
    text-decoration: none;
    color: white;
    font-size: 35px;
    font-weight: 600;
}

.ul {
    display: inline-flex;
}

.ul li {
    list-style: none;
    margin-left: 7px;
}

.ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.ul li a:hover {
    background: white;
    color: #d76576;
}


.img {
    background: url('assets/banner.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.img::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
}

.center {
    position: absolute;
    top:52%;
    left: 10%;
    transform: translate(-31%, -50%);
    width: 100%;
    padding: 0 20px;
    text-align: center;
}

.name {
    color: white;
    font-size: 55px;
    font-weight: 600;
}

.role {
    color: white;
    font-size: 45px;
    font-weight: 600;
}

.button {
    margin: 20px;
}

.cv {
    padding: 0 20px;
}

.footer {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.contact-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #d76576;
    color: white; 
    padding: 25px 30px;
}

.about-me {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 800px;
    border: 1px ;
    padding: 10px;
    box-shadow: 20px 20px 50px 15px #d76576;

}

.title {
    font-size: 35px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    padding: 25px;
}

.about-me-text {
    font-size: 20px;
    font-weight: 300;
    padding: 25px;
}

.user-info {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

.input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.input-box textarea {
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.input-box input:focus {
    border-color: #d20054;
}
