* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.nav {
    position: fixed;
    background: #d76576;
    width: 100%;
    padding: 10px 0;
    z-index: 10;
}

.menu {
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo a {
    text-decoration: none;
    color: white;
    font-size: 35px;
    font-weight: 600;
}

.ul {
    display: inline-flex;
}

.ul li {
    list-style: none;
    margin-left: 7px;
}

.ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.ul li a:hover {
    background: white;
    color: #d76576;
}


.img {
    background: url('assets/banner.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.img::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
}

.center {
    position: absolute;
    top:52%;
    left: 10%;
    transform: translate(-31%, -50%);
    width: 100%;
    padding: 0 20px;
    text-align: center;
}

.name {
    color: white;
    font-size: 55px;
    font-weight: 600;
}

.role {
    color: white;
    font-size: 45px;
    font-weight: 600;
}

.button {
    margin: 20px;
}

.cv {
    padding: 0 20px;
}

